<?xml version="1.0"?>

<!-- Copyright © Klevu Oy. All rights reserved. See LICENSE.txt for license details. -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Klevu_IndexingCategories">
        <sequence>
            <module name="Klevu_Indexing"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_CatalogUrlRewrite"/>
            <module name="Magento_Store"/>
            <module name="Magento_UrlRewrite"/>
        </sequence>
    </module>
</config>
